In [6]:
from time_series_visualizer import *

In [11]:
df_bar = df.copy()

In [13]:
df_bar['month']=df_bar.index.month_name()

In [14]:
df_bar.head()

            value month
date
2016-05-19  19736   May
2016-05-26  18060   May
2016-05-27  19997   May
2016-05-28  19044   May
2016-05-29  20325   May